.logo {
    width: 140px;
}

.logo-lg {
    width: 300px;
}

a {
    text-decoration: none;
    color: black;
}

main {
    .img-container {
        width: 100%;
        aspect-ratio: 2 / 3;
    }

    .img-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

img {
    width: 100%;
    object-fit: cover;
}

.movie-page {
    height: 600px;

    img {
        height: 100%;
        object-fit: contain;
    }
}