.logo {
    width: 140px;
}

.logo-lg {
    width: 300px;
}

a {
    text-decoration: none;
    color: black;
}

main {
    .img-container {
        width: 100%;
        aspect-ratio: 2 / 3;
    }

    .img-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

img {
    width: 100%;
    object-fit: cover;
}

.movie-page {
    height: 600px;

    img {
        height: 100%;
        object-fit: contain;
    }
}

.bg-first {
    background-color: #e4d4c5;
}

.bg-second {
    background-color: #F7ECE1;
}

.bg-third {
    background-color: #ebd7c3;
}

header {
    border-bottom: 1px solid #242038;
}

footer {
    border-top: 1px solid #242038;
}

.card {
    border: 1px solid #242038;
}

.RobotoCondensed {
    font-family: "Roboto Condensed", sans-serif;
}

.form-control:focus,
.form-select:focus {
    background-color: #ebd7c3;
    border-color: #F7ECE1;
    box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.25) !important;
}