.logo {
    width: 140px;
}

.logo-lg {
    width: 300px;
}

a {
    text-decoration: none;
    color: black;
}

main {
    .img-container {
        width: 100%;
        aspect-ratio: 2 / 3;
    }

    .img-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

img {
    width: 100%;
    object-fit: cover;
}

.movie-page {
    height: 600px;

    img {
        height: 100%;
        object-fit: contain;
    }
}

.bg-first {
    background-color: #CAC4CE;
}

.bg-second {
    background-color: #F7ECE1;
}

header {
    border-bottom: 1px solid #242038;
}

footer {
    border-top: 1px solid #242038;
}

.card {
    border: 1px solid #242038;
}